#top {
  margin-top: 0.5em;
}

#createBtn {
  padding: 1.5em 2em;
}

#help {
  padding: 0 1em;
  margin: 0 1em 1em 1em;
  font-size: 0.8em;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
}

h5 {
  font-weight: 100;
}

#warning {
  color: #7044ff;
  font-size: 15px;
}

p {
  color: rgb(95, 95, 95);
}

// Add padding on ion-content for bigger screens
// Retina screens
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  ion-content {
    --padding-start: 20vw;
    --padding-end: 20vw;
  }
}
// Non-retina
@media screen and (min-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {
  ion-content {
    --padding-start: 20vw;
    --padding-end: 20vw;
  }
}
