<ion-header>
  <ion-toolbar color="tertiary" mode="ios">
    <ion-title>
      PostMate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false" fullscreen>
  <ion-slides [options]="slideOpts" #slides>
    <ion-slide class="ion-justify-content-center">
      <img
        loading="auto"
        src="../../assets/images/one.png"
        alt="Social media posts"
        style="height:auto; width:20em;"
      />
      <h1>Welcome to PostMate</h1>
      <p>
        Do you often publish posts with repetitive content (like
        <i>#hashtags</i> ) on social media?
      </p>
      <div class="ion-text-center" (click)="next()">
        <ion-icon name="arrow-forward" class="next"></ion-icon>
      </div>
    </ion-slide>
    <ion-slide class="ion-justify-content-center">
      <img
        loading="lazy"
        src="../../assets/images/two.png"
        alt="Templates in PostMate"
        style="height:auto; width:20em;"
      />
      <h1>Say Hi to Templates</h1>
      <p>
        PostMate lets you create post templates consisting of headers and
        footers.
      </p>
      <div class="ion-text-center" (click)="next()">
        <ion-icon name="arrow-forward" class="next"></ion-icon>
      </div>
    </ion-slide>
    <ion-slide class="ion-justify-content-center">
      <img
        loading="lazy"
        src="../../assets/images/three.png"
        alt="Using templates in PostMate"
        style="height:auto; width:20em;"
      />
      <h1>Reuse your Templates</h1>
      <p>
        Just type in the body of your post and generate the rest from your
        template!
      </p>
      <div class="ion-text-center" (click)="next()">
        <ion-icon name="arrow-forward" class="next"></ion-icon>
      </div>
    </ion-slide>
    <ion-slide class="ion-justify-content-center">
      <img
        loading="lazy"
        src="../../assets/images/four.png"
        alt="Temlates sync across devices"
        style="height:auto; width:20em;"
      />
      <h1>Optimize Your Workflow</h1>
      <p>
        Templates sync across all your devices helping you engage more
        efficiently.
      </p>
      <div class="ion-text-center" (click)="next()">
        <ion-icon name="arrow-forward" class="next"></ion-icon>
      </div>
    </ion-slide>
    <ion-slide id="login">
      <h1>Ready to use PostMate?</h1>
      <p>Please sign in using your Google account to continue.</p>
      <ion-button
        class="ion-padding-vertical"
        (click)="loginHandler()"
        color="tertiary"
        mode="ios"
      >
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Sign in with Google
      </ion-button>
      <p id="status">
        {{ loginStatus }}
      </p>
    </ion-slide>
  </ion-slides>
</ion-content>
